.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* gap: 1168 * 32 */
.gap_top {
  width: 1168px;
  height: 32px;
  flex-shrink: 0;
}

/* search: 1168 * 48 */
.search {
  width: 1168px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.search__left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search__selectbox {
  width: 120px;
}

.search__searchbar {
  width: 320px;
}

.search__button {
  width: 110px;
  background-color: var(--gray-black);
  color: var(--gray-white);
}

/* gap: 1168 * 42 */
.gap_middle_1 {
  width: 1168px;
  height: 42px;
  flex-shrink: 0;
}

/* main: 1168 * 936 */
.main {
  width: 1168px;
  min-height: 936px;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 274px);
  gap: 24px;
  row-gap: 24px;
  width: 1168px;
}

.diaryCard {
  width: 274px;
  height: 296px;
  background-color: var(--gray-white);
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

.cardImageWrapper {
  position: relative;
  width: 274px;
  height: 208px;
}

.cardImage {
  object-fit: cover;
  border-radius: 16px 16px 16px 16px;
}

.deleteButton {
  position: absolute;
  top: 6px;
  right: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContent {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emotionLabel {
  font-family: var(--font-korean);
  font-size: var(--typo-subtitle01-size);
  line-height: var(--typo-subtitle01-line);
  font-weight: var(--typo-subtitle01-weight);
  letter-spacing: -0.14px;
}

.date {
  font-family: var(--font-korean);
  font-size: var(--typo-body02-s-size);
  line-height: var(--typo-body02-s-line);
  font-weight: var(--typo-body02-s-weight);
  letter-spacing: -0.14px;
  color: var(--gray-50);
}

.cardTitle {
  font-family: var(--font-korean);
  font-size: var(--typo-title01-size);
  line-height: var(--typo-title01-line);
  font-weight: var(--typo-title01-weight);
  letter-spacing: -0.18px;
  color: var(--gray-black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* gap: 1168 * 40 */
.gap_middle_2 {
  width: 1168px;
  height: 40px;
  flex-shrink: 0;
}

/* pagination: 1168 * 32 */
.pagination {
  width: 1168px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* gap: 1168 * 40 */
.gap_bottom {
  width: 1168px;
  height: 40px;
  flex-shrink: 0;
}
